/* VARIABLES */

:root{
    --color-principal: #F66844;
    --color-detalles: #ff921b;
    --color-darK: #393939;
    --color-light: #FFFFFF;
    --color-bg-suscribe: #171717;
    --color-borders: #414141;
}

/* Estilos Generales */

html{
    font-size: 10px;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Lucida Sans Regular', sans-serif;
    line-height: 1.5;
    color: var(--color-light);
}

/* MENU */
.layout__menu{
    width: 100%;
    height: 100rem;
    background-image: url("../img/banner.png");
}
.menu__container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.menu__container-logo,
.footer__company{
    color: var(--color-principal);
}
.menu__logo,
.company__logo{
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    padding-top: 1rem;
}
.menu__link{
    position: relative;
}
.menu__link::before{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: var(--color-detalles);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms ease;
}

.menu__link:hover::before{
    width: 100%;
    opacity: 1;
}
.menu__item-join .menu__link:hover::before{
    opacity: 0;
}
.menu__title,
.menu__title{
    font-family: monospace;
    font-size: 2rem;
    margin: 0.5rem;
    font-weight: normal;
}
.menu__description,
.menu__description{
    font-size: 1.1rem;
    text-align: center;
    margin-left: 4.2rem;
}
.menu__list{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-right: 8rem;
}
.menu__item-join{
    background-color: var(--color-detalles);
    padding: 0.8rem 1.3rem;
    line-height: 1rem;
    transition: all 300ms ease-in-out;
}
.menu__item-join:hover{
    transform: scale(1.1);
}

/* BANNER */

.banner__container{
    width: 20%;
    padding: 5rem;
    margin-left: 3rem;
    margin-top: 6rem;
    text-align: center;
    background: linear-gradient(180deg,  rgb(255,255,255,  0.2), rgb(57,57,57, 0.3) );
    animation-name: showLeft;
    animation-duration: 1s;
}
@keyframes showLeft {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}
.banner__title{
    font-size: 4.2rem;
    font-weight: 400;
}
.banner__description{
    font-size: 1.2rem;
    font-weight: 100;
    opacity: 0.7;
}
.banner__container-btns{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}
.banner__btn{
    padding: 1rem 2rem;
    border: none;
    background:  linear-gradient(220deg,  rgb(255,146,27), rgb(255,255,255, 0.6));
    transition: all 300ms ease-in-out;
}
.banner__btn:hover{
    border: 1px solid var(--color-detalles);
    background: none;
}
.banner__btn-yt{
    display: flex;
    padding: 1rem 2rem;
    background: none;
    border: 1px solid var(--color-detalles);
    transition: all 300ms ease-in-out;
}
.banner__btn-yt:hover{
    transform: scale(1.1);
}

/* PLANES */
.layout__plans{
    width: 100%;
    height: 100rem;
    background-color: var(--color-bg-suscribe);
    background-image: url("../img/extras-bg.png");
}
.color__resalt{
    color: var(--color-detalles);
}
.plans__container-social{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 3rem;
    width: 24.5rem;
    height: 6rem;
    
    background-image: url(../img/Rectangle\ 3.png);
    background-repeat: no-repeat;

    animation-name: showLeft;
    animation-duration: 1s;
}
.plans__socail{
   width: 3rem;
   height: 3rem; 
   transition: all 300ms ease-in;
}
.plans__socail:hover{
    transform: scale(1.2);
}
.plans__header{
    margin-left: 6rem;
    margin-top: 3rem;
}
.plans__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0rem 30rem;

}
.plans__plan{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 37rem;
    
    height: 37rem;
    text-align: center;
    align-items: center;
    
    border: 1px solid var(--color-detalles);
    border-left: none;
    border-top: none;

    animation-name: showTop;
    animation-duration: 1s;
}
.plans__plan-bn{
    border-bottom: none;
}
.plans__plan-br{
    border-right: none;
}
.plan__description{
    font-size: 1.3rem;
    padding: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    opacity: 0.8;
}

@keyframes showTop {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0%);
    }
}

/* SUSCRIBITE */

.layout__suscribe{
    width: 100%;
    height: auto;
    background-color: var(--color-bg-suscribe);
    padding: 8rem 0rem;
}
.suscribe__header{
    margin-left: 6rem;
}
.suscribe__title{
    font-size: 3.5rem;
    font-weight: 400;
}
.suscribe__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.suscribe__item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding-bottom: 4rem;
    height: auto;
    border: 1px solid var(--color-borders);
    border-radius: 0.5rem;
    background: linear-gradient(180deg,  rgb(255,255,255,  0.2), rgb(57,57,57, 0.3) );
    transition: all 300ms ease-in-out;
}
.suscribe__item:hover{
    transform: scale(1.2);
}
.suscribe__recommend{
    position: absolute;
    top: -1rem;
    padding: 0.5rem 2rem;
    background-color: var(--color-light);
    color: var(--color-darK);
}
.recommend__title{
    font-size: 1.4rem;
}
.suscribe__subtitle{
    margin-top: 3rem;
    font-weight: 300;
}
.suscribe__date{
     font-size: 1.2rem;
     font-weight: 100;
     opacity: 0.6;
     margin-bottom: 3rem;
}
.suscribe__price{
    font-size: 2rem;
}
.suscribe__money{
    font-size: 1.2rem;
    opacity: 0.7;
    padding: 0.3rem;
}
.suscribe__method{
    font-size: 1.2rem;
    opacity: 0.8;
    margin: 2rem;
}
.suscribe__btn{
    background: none;
    border: 1px solid var(--color-detalles);
    padding: 1rem 3rem;
}

/* ENTRENADORES */
.layout__trainers{
    width: 100%;
    background-color: var(--color-bg-suscribe);
    padding: 3rem 6rem;
}
.trainers__header{
    margin-bottom: 6rem;
}
.trainser__title{
    font-size: 3.5rem;
    font-weight: 400;
}
.trainers__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-bottom: 6rem;
}
.trainers__img{
    transition: all 300ms ease-in-out;
}
.trainers__img:hover{
    transform: scale(1.1);
    border-radius: 0.5rem;
}
.layout__us{
    display: flex;
    width: 100%;
    background-color: var(--color-bg-suscribe);
    padding: 3rem 6rem;
}
.us__header{
    margin-bottom: 6rem;
}
.us__title{
    font-size: 3.5rem;
    font-weight: 400;
}
.us__container{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.us__container-list{
    width: 70%;
    margin-top: 8rem;
    padding: 3rem 6rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg,  rgb(255,255,255,  0.2), rgb(57,57,57, 0.3) );
    transition: all 300ms ease-in-out;
}
.us__container-list:hover{
    transform: scale(1.1);
}
.us__list .us__item::before {
    content: "•"; 
    display: inline-block;
    width: 2rem;
    margin-left: -1em;
    color: rgb(255, 146, 27); 
  }
.us__item{
    font-size: 1.4rem;
}
.us__btn{
    margin-top: 4rem;
    padding: 1rem 3rem;
    border: 1px solid var(--color-detalles);
    background: none;
    transition: all 300ms ease-in;
}
.us__btn:hover{
    transform: scale(1.1);
}
.us__left{
    width: 100%;
    display: flex;
    justify-content: end;
}
.us__container-img{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation-name: showRight;
    animation-duration: 1s;
}
.us__img-one{
    margin-left: -10rem;
}

@keyframes showRight {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}

/* FOOTER */
.layout__footer{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 8rem 0rem;
    background-color: var(--color-bg-suscribe);
}
.footer__company{
    padding: 3rem 6rem;
}
.company__description{
    font-size: 1.5rem;
    margin-left: 3rem;
    color: var(--color-light);
}
.footer__container{
    width: 100%;
    display: flex;
    gap: 6rem;
    justify-content: center;
}
.footer__container__list{
    width: 15%;
}
.footer__list-title{
    font-size: 1.7rem;
    transition: all 300ms ease-in;
}
.footer__list-title:hover{
    color: var(--color-detalles);
}
.footer__link{
    font-size: 1.3rem;
    opacity: 0.8;
    margin: 1rem;
    margin-left: 0;
    transition: all 300ms ease;
}
.footer__link:hover{
    opacity: 1;
}
.footer__list-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.footer__item-tags{
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    color: var(--color-borders);
    background: var(--color-light);
    transition: all 300ms ease-out;
}
.footer__item-tags:hover{
    background-color: var(--color-detalles);
}

/* COPY */

.layout__copy{
    width: 100%;
    background-color: var(--color-detalles);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy__title{
    display: flex;
    text-align: center;
    transition: all 300ms ease-in;
}
.copy__title:hover{
    color: var(--color-bg-suscribe);
}